<div class="search-container">
    <div class="container">
        <form action="" class="search-form">
            <input type="search" class="search-input" name="search" onfocus="this.value=''" value="Pesquisar">
            <button type="submit" class="search-button">
                <!--<i class="fa-solid fa-magnifying-glass"></i>-->
                <i class="fas fa-search"></i>
                <span class="search-button-text">E</span>
            </button>
        </form>
    </div>
</div>